<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link href="/css/shipment-style.css" rel="stylesheet">
<title>Insert title here</title>
</head>
<body>
<header></header>
<main>
<section>

			<div class="p-5 mb-4 bg-light rounded-3">
				<div class="container-fluid py-5">
					<h1 class="display-5 fw-bold">¡Error!</h1>
					<p class="col-md-8 fs-4">¿Qué habrás hecho mal?</p>
				</div>
			</div>

		</section>
</main>

</body>
</html>