<!DOCTYPE html>
<html>
<!-- Bootstrap core CSS -->
<link href="/css/typeshippment.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta charset="ISO-8859-1">
<title>Tipos de Envio</title>
</head>
<body>
<h1>Elige tu tipo de envio</h1>

    <div class="container">
        <div class="row g-3">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" >
                    <img src="/img/compra/Encomienda.png" class="card-img-top" alt="Envio por encomienda">
                    <div class="card-body">
                        <h5 class="card-title">Envio mediante encomienda</h5>
                        <p class="card-text">Con la encomienda tu pedido llegara a cualquier ciudad del Perú.</p>
                        <a href="#" class="btn btn-primary">Selccionar</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" >
                    <img src="/img/compra/Enviogrande.jpg" class="card-img-top" alt="Envio privado" >
                    <div class="card-body">
                        <h5 class="card-title">Envio privado</h5>
                        <p class="card-text">Realiza tu envio de la manera que desees por tu cuenta seleccionando este tipo de envio.</p>
                        <a href="#" class="btn btn-primary">Seleccionar</a>
                    </div>
                </div>
            </div>
             
        </div>
    </div>
</body>
</html>