<!DOCTYPE html>
<html>
<!-- Bootstrap core CSS -->
<link href="/css/Estilospayment.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta charset="ISO-8859-1">
<title>Metodos de pago</title>
</head>
<body>
<h1>Metodos de pago</h1>

    <div class="container">
        <div class="row g-3">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" >
                    <img src="/img/compra/tarjetacredito.png" class="card-img-top" alt="Pago con Tarjeta">
                    <div class="card-body">
                        <h5 class="card-title">Paga con tarjeta de crédito</h5>
                        <p class="card-text">Este método de pago es aceptado con visa y mastercard.</p>
                        <a href="#" class="btn btn-primary">Selccionar</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" >
                    <img src="/img/compra/yapelogo.png" class="card-img-top" alt="London" >
                    <div class="card-body">
                        <h5 class="card-title">Paga con Yape </h5>
                        <p class="card-text">Con Yape podras pagar al instante desde tu dispositivo móvil.</p>
                        <a href="#" class="btn btn-primary">Seleccionar</a>
                    </div>
                </div>
            </div>
             <div class="col-12 col-md-6 col-lg-4">
                <div class="card" >
                    <img src="/img/compra/Monedaperu.png" class="card-img-top" alt="Dinero en efectivo">
                    <div class="card-body">
                        <h5 class="card-title">Paga en efectivo</h5>
                        <p class="card-text">Puedes pagar si lo deseas en efectivo seleccionando este método.</p>
                        <a href="#" class="btn btn-primary">Seleccionar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>