<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">

<title>Order</title>



<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/interface-style.css" rel="stylesheet">

<!-- Custom styles for this template -->

<style type="text/css">
body {
	padding-top: 4rem;
}
</style>


</head>
<body>

	<!-- navbar -->
	<header th:replace="/layout :: frag-header">
		<!-- <th:block th:include="layout"></th:block> -->
	</header>

	<!-- body  -->

	<main class="main-contenedor">

		<div class="container mt-2">
			<div class="row">
				<div class="col-9">

					<h2>Tu compra</h2>
					<table class="table" style="width: 100%">
						<thead>
							<tr class="table-success">
								<!-- id -->
								<th scope="col">Item</th>
								<th scope="col">Codigo</th>
								<th scope="col">Producto</th>
								<th scope="col">Descripcion</th>
								<th scope="col">Precio(Kg)</th>
								<th scope="col">Cantidad</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="car : ${listarCarrito}">
								<td th:text="${car.item}"></td>
								<td th:text="${car.idProducto}"></td>
								<td th:text="${car.name}"></td>
								<td th:text="${car.description}"></td>
								<td th:text="${car.price}"></td>
								<td th:text="${car.cantidad}"></td>
								<td><a class="btn btn-primary" type="button" href="#">Edit</a>

									<a class="btn btn-danger ms-2" type="button" href="#">Delete</a>

								</td>
							</tr>
						</tbody>
					</table>



				</div>
				<div class="col-3 mt-5">

					<div class="card" style="width: 18rem;">

						<div class="card-body">
							<h5 class="card-title">Total</h5>
							<div class="input-group mt-3">
								<span class="input-group-text">S/.</span> <input type="text"
									placeholder="00" style="width: 10rem;" value="${totalPagar}" disabled> <span
									class="input-group-text">.00</span>
							</div>

						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">An item</li>
							<li class="list-group-item">A second item</li>
							<li class="list-group-item">A third item</li>
						</ul>
						<div class="card-body">
							<a href="#" class="card-link">Card link</a> <a href="#"
								class="card-link">Another link</a>
						</div>
					</div>

				</div>
			</div>
	</main>

	<script src="/js/bootstrap.bundle.min.js"></script>

	<script src="/js/sidebars.js"></script>
</body>
</html>
