<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Team</title>


<!-- Bootstrap core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">


<style type="text/css">
body {
	padding-top: 4rem;
}


</style>



</head>
<body>
	<!-- navbar -->

	<header th:replace="/layout :: frag-header"></header>

	<!-- body  -->

	<main>

		<div class="text-center">
			<div>
				<h1>Sobre nosotros</h1>
				<p>¿Quienes somos?</p>
			</div>


		</div>

		<div class="container">

			<!-- Three columns of text below the carousel -->
			<div class="row mt-5">
				<div class="col-2"></div>
				<div class="col-4">
					<h2>Luis Ernesto Guardales Solano</h2>
					<p>Tengo 19 años, poseo conocimientos del uso del IDE llamado
						Visual Studio, también tengo experiencia programando en el
						lenguaje C + + y C#, tanto de forma estructurada u orientada a
						objetos. Tengo experiencia en el curso de análisis y
						especificación de Requisitos e IHC y tecnologías móviles, apoyaré
						al equipo en el diseño de la aplicación web de nuestra startup.</p>

				</div>
				<div class="col-5">
					<img src="/img/team/member2.png" class="shadow-lg bg-body rounded " width=80%
						height=100% alt="..." />
				</div>


			</div>
			<div class="row mt-5">
				<div class="col-2"></div>
				<div class="col-5">

					<img src="/img/team/member1.jpg" class="shadow-lg bg-body rounded " width=80%
						height=100% alt="..." />
				</div>
				<div class="col-4">
					<h2>Diego Jhony Cardenas Victoria</h2>
					<p>Tengo 19 años y estoy cursando el 5to ciclo de la carrera de
						Ingeniería de Sistemas de Información en la Universidad Peruana de
						Ciencias Aplicadas (UPC). Me considero una persona social y
						competitiva en el entorno académico. Por mi parte, yo puedo
						aportar compromiso, dedicación en las actividades del grupo;
						además, manejo varios lenguajes de programación, tales como C++,
						C#, Python, entre otros.</p>

				</div>
			</div>
			<div class="row mt-5">

				<div class="col-2"></div>
				<div class="col-4">
					<h3>Brajan Steve Gutierrez Bojorquez</h3>
					<p>Tengo 22 años y actualmente estoy cursando el 6to ciclo de
						la carrera de Ingeniería de Sistemas de Información ciclo en la
						Universidad Peruana de Ciencias Aplicadas (UPC). Tengo experiencia
						en el curso de análisis y requerimientos, así como programación.
						Pongo a disposición de mi grupo mi colaboración además de mis
						habilidades técnicas para cumplir con nuestros objetivos.</p>

				</div>
				<div class="col-5">

					<img src="/img/team/member3.jpg" class="shadow-lg bg-body rounded " width=80%
						height=100% alt="..." />
				</div>

			</div>
			<div class="row mt-5">

				<div class="col-2"></div>
				<div class="col-5">

					<img src="/img/team/member4.png" class="shadow-lg bg-body rounded " width=80%
						height=100% alt="..." />
				</div>
				<div class="col-4">
					<h3>Jhon Anderson Ramos Claudio</h3>
					<p>Tengo 20 años y estoy cursando el 5to ciclo de la carrera de
						Ingeniería de Sistemas de Información en la Universidad Peruana de
						Ciencias Aplicadas (UPC). Me considero una persona perseverante y
						empático; además, presento buenos valores a mi entorno. Puedo
						aportar a mi grupo con mis habilidades en edición y organización
						para cumplir con los objetivos planteados por el grupo.</p>

				</div>

			</div>
			<div class="row mt-5">


				<div class="col-2"></div>
				<div class="col-4">
					<h3>Emilio Adolfo Pinedo Solis</h3>
					<p>Tengo 22 años y actualmente estoy cursando el 6to ciclo de
						Ingeniería de Sistemas en la Universidad Peruana de Ciencia
						Aplicadas (UPC). Me considero una persona honesta, empática y
						responsable. Tengo experiencia en conocimientos de C++, C# y Java
						y análisis de requerimientos. Apoyaré a mi grupo a diseñar la base
						de datos, así como en el desarrollo de la estructura del código.</p>
				</div>
				<div class="col-5">


					<img src="/img/team/member5.jpg" class="shadow-lg bg-body rounded " width=70%
						height=60% alt="..." />
				</div>
			</div>









		</div>



	</main>
	<!-- FOOTER -->

	<hr>
	<footer th:replace="/layout :: frag-footer"> </footer>



</body>
</html>
